extends ../../layout
block content
  h2 新メンバー追加
    form(action=`/manager/teams/${team.id}/members`,method="post")
      _csrf

      select(name="userId") 
        each user in users
          option(value=user.id)= user.displayName
      div.action
      input(type="submit")

  h2 メンバー一覧
  table(border="2")
    tbody 
      th 役割
      th 名前

      each memberUser in memberUsers
        tr 
        if memberUser.role === 1
          td= 'マネージャー'
        else 
          td= '一般ユーザー'
        td= memberUser.User.displayName